<% provide(:title, "Home") %>
<section class="jumbotron text-center">
  <h1>Shouter</h1>
  <p class="lead">Sign up and shout with your friends.</p>

  <%= link_to "Sign Up", "#", class: "btn btn-lg btn-primary" %>
</section>
