<footer class="footer">
  <div class="container">
    <small>
      Shouter &copy; <%= Date.current.year %> Carl Weis. All Rights Reserved.
    </small>
    <nav>
      <ul>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
  </div>
</footer>
